@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500;700&display=swap');

:root {
    --white: #FFFFFF;
    --white-label: #FAFAFA;
    --white-line: #E0E0E0;
    --white-border: #EEEEEE;
    --grey: #616161;
    --grey-border: #BDBDBD;
    --grey-input: #757575;
    --black: #212121;
    --dark-black: #000000;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    position: relative;
}
.container{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(./assets/bg-img.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.wrapper{
    display: grid;
    position: absolute;
    bottom: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "left right";
}

/* Left Item */
.left{
    display: grid;
    justify-content: center;
    padding-left: 30%;
    padding-right: 10%;
    padding-bottom: 15%;
    align-items: center;
    grid-area: left;
}
.left-text{
    width: 83%;
    text-align: justify;
}
.left-text h3{
    font-weight: bold;
    color: var(--white);
    font-size: 39px;
    margin-bottom: 7%;
    white-space: pre;
}
.left-text p{
    color: var(--white);
    font-weight: regular;
    margin-bottom: 13%;
    line-height: 200%;
}
.navigator{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 5%;
    gap: 2%;
}
.navigator-item:first-child{
    width: 9%;
    height: 4px;
    background-color: var(--white);
}
.navigator-item{
    width: 8%;
    height: 2.5px;
    background-color: var(--grey);
}

/* Right Item */
.right{
    background-color: var(--white);
    grid-area: right;
    width: 55%;
    height: 90vh;
    display: grid;
    padding: 5% 5%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-title p{
    color: var(--dark-black);
    font-weight: regular;
    font-size: 13px;
}
.card-title h3{
    color: var(--dark-black);
    font-weight: medium;
    font-size: 25px;
}
.card-input .input-wrapper{
    position: relative;
    margin-top: 5%;
}
.card-input input{
    width: 100%;
    height: 7vh;
    padding: 1% 4.5%;
    border: var(--grey-border) 1px solid;
    border-radius: 7px;
}
.card-input input::placeholder{
    color: var(--grey-input);
}
.card-input label {
    color: red;
    position: absolute;
    top: -23%;
    left: 2%;
    color: var(--grey-input);
    background-color: var(--white-label);
    padding: 0 2%;
    font-weight: regular;
    font-size: 12.8px;
}
.card-input .input-wrapper:focus-within label{
    color: var(--dark-black);
}
.form-button button{
    width: 100%;
    height: 7vh;
    padding: 1% 4.5%;
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    font-size: 13px;
    border: 0;
    border-radius: 7px;
    margin-top: 5%;
    cursor: pointer;
}
.form-button button:hover{
    background-color: var(--dark-black);
}
.input-wrapper-password{
    margin-top: 5%;
    position: relative;
}
.img-password{
    position: absolute;
    cursor: pointer;
    top: 35%;
    right: 5%;
}
.or-line {
    display: flex;
    align-items: center;
    margin-top: 2%;

}
.or-line p{
    margin: 0 2%;
    font-weight: bold;
    font-size: 13px;
    color: var(--black);
}
.or-line span{
    width: 100%;
    border: 1px solid var(--white-line);
}
.card-social{
    display: grid;
    align-items: center;
}
.card-social-item{
    display: flex;
    border: 1px solid var(--white-border);
    padding: 5% 10%;
    margin-top: 3%;
    border-radius: 7px;
    cursor: pointer;
}
.card-social-item:hover{
    background-color: var(--white-line);
}
.card-social-item:hover p{
    color: var(--dark-black);
    font-weight: bold;
}
.card-social-item p{
    flex: 2;  
    text-align: center;
    font-weight: regular;
    font-size: 13px;
    color: var(--grey); 
}
.card-footer{
    margin-top: 6%;
}
.card-footer p{
    text-align: center;
}
.card-footer p span:first-child{
    font-weight: regular;
    font-size: 13px;
}
.card-footer p span:last-child{
    font-weight: bold;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1300px) {
    .right{
        width: 70%;
        height: 95vh;
    }
    .right-container{
        display: grid;
        align-items: stretch;
    }
  }
  @media only screen and (max-width: 1000px) {
    .left{
        padding-left: 20%;
    }
    .right{
        width: 80%;
        height: 90vh;
    }
  }
  @media only screen and (max-width: 875px) {
    .left{
        padding-left: 10%;
    }
    .right{
        width: 90%;
        height: 90vh;
    }
    .right-container{
        display: grid;
        align-items: stretch;
    }
  }
  @media only screen and (max-width: 785px) {
    .container{
        display: flex;
        justify-content: center;
    }
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "left"
        "right";
    }
    .left .left-text{
        display: none;
    }
    .right{
        height: 80vh;
       width: 100%;
    }
    .right-container{
        display: grid;
        align-items: stretch;
    }
  }